<ion-header>
  <ion-navbar>
    <ion-title>Execution Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap>
      <ion-label>Assignment creation time</ion-label>
      <p item-end>{{assignment.timestamp_c}}</p>
    </ion-item>
    <span *ngIf="this.execution.id != null">
      <ion-item text-wrap>
        <ion-label>Execution creation time</ion-label>
        <p item-end>{{execution.timestamp_c}}</p>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>Execution last modify</ion-label>
        <p item-end>{{execution.timestamp_m}}</p>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>Comment</ion-label>
        <p *ngIf="execution.comment; else noComment" item-end>{{execution.comment}}</p>
        <ng-template #noComment> <p item-end>Nessun commento.</p> </ng-template>
      </ion-item>
    </span>
    <ion-item text-wrap *ngIf="this.execution.id != null">
      <button ion-button block (click)="onEdit(assignment)">Edit Execution</button>
    </ion-item>
    <ion-item text-wrap *ngIf="this.execution.id != null">
      <button ion-button block (click)="newEdit(assignment)">New Execution</button>
    </ion-item>
    <ion-item text-wrap *ngIf="this.execution.id == null">
      <button ion-button block (click)="onEdit(assignment)">New Execution</button>
    </ion-item>
  </ion-list>
</ion-content>
