// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
  overflow-y: auto !important;
}

ion-content{
  background: lightgrey;
}


::-webkit-scrollbar{
  display:none;
}

fieldset{
  border:0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #4d4d4d;
}

.h-center {
  font-weight: bold;
  text-align: center;
  color: #2d2d2d;
  font-size: 1.5em;
}

.h-bold {
  font-weight: bold;
}
